@font-face {
  font-family: persoFont;
  src: url(../fonts/Darkwoman.otf);

}


/*@charset "UTF-8";
/*Awesome blue: #566e8d*/
/* Core Stuff */
* {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

body {
font-size: 1rem;
line-height: 1.7;
color: #3d1c00;
background: #ece6da;
}

h1,
h2,
h3,
h4,
h5,
h6 {
color: #454B4D;
}

a {
color: #7f5d53;
text-decoration: none;
}

a:hover {
color: #a1b182;
}

pre {
background: #fbf9f7;
margin: 1rem 0;
border-radius: 2px;
}

blockquote {
border-left: 10px solid #eee;
margin: 0;
padding: 0 2rem;
}

/* Utility Classes */
.wrapper {
margin: 0 3rem;
/* max-width: 64%; */
}

.padding {
padding: 3rem 1rem;
}

.left {
float: left;
}

.right {
float: right;
}

.text-center {
text-align: center;
}

.text-right {
text-align: right;
}

.text-left {
text-align: left;
}

/* Content Styling */
.header .padding {
padding: 1rem 0;
}

.header {
display: inline-block;
background-color: #A1B182;
color: #7f5d53;
font-size: 2rem;
width: 100%;
}

.header a {
color: #edfa81;
}

.header .logo {
margin-top: -14px;
font-size: 4rem;
font-family:persoFont;
-webkit-text-stroke: 1px black;
   text-shadow:
       2px  2px 0 #000,
      -1px -1px 0 #000,  
       1px -1px 0 #000,
      -1px  1px 0 #000,
       1px  1px 0 #000;
}

.footer {
background-color: #a1b182;
color: #fbf9f7;
}

.footer a {
color: #7f5d53;
}

.footer a:hover {
color: #454B4D;
}

/* Menu Settings */
.main-nav ul {
text-align: center;
letter-spacing: -1em;
margin: 0;
padding: 0;
padding-top: 0.3em;
}

.main-nav ul li {
display: inline-block;
letter-spacing: normal;
}

.main-nav ul li a {
position: relative;
display: block;
line-height: 45px;
color: #fbf9f7;
padding: 0 20px;
white-space: nowrap;
}

.main-nav > ul > li > a {
border-radius: 2px;
}

/*Active dropdown nav item */
.main-nav ul li:hover > a {
background-color: #fbf9f7;
color: #7f5d53;
}

/* Selected Dropdown nav item */
.main-nav ul li.selected > a {
background-color: #fff;
color: #7f5d53;
}

/* Dropdown CSS */
.main-nav ul li {
position: relative;
}

.main-nav ul li ul {
position: absolute;
background-color: #1F8DD6;
min-width: 100%;
text-align: left;
z-index: 999;
display: none;
}

.main-nav ul li ul li {
display: block;
}

/* Dropdown CSS */
.main-nav ul li ul ul {
left: 100%;
top: 0;
}

/* Active on Hover */
.main-nav li:hover > ul {
display: block;
}

/* Child Indicator */
.main-nav .has-children > a {
padding-right: 30px;
}

.main-nav .has-children > a:after {
font-family: FontAwesome;
content: '\f107';
position: absolute;
display: inline-block;
right: 8px;
top: 0;
}

.main-nav .has-children .has-children > a:after {
content: '\f105';
}

/* SideBar */
.sidebar {
background-color: #fbfbf6;
color: #3d1c00;
font-family: FontAwesome;
text-align: center;
position: absolute;
width: 25%;
max-width: 30%;
top: 7em;
right: 1em;
padding: 1em;
-moz-transition: left 0.5s ease;
transition: left 0.5s ease;
}

.contenu {
  max-width: 70%;
}

.contenu img {
  max-width: 30%;
}

.mylogo {
margin-right: 1em;
height: 3em;
padding-bottom: 0.5em;
}

.red {
border-left: 10px solid #a1b182 !important;
background: #fbfbf6 !important;
color: #566e8d !important;
}

.blue {
border-left: 10px solid #a1b182 !important;
background: #ece6da !important;
color: #566e8d !important;
}

.green {
border-left: 10px solid #566e8d !important;
background: #fbfbf6 !important;
color: #566e8d !important;
}

.yellow {
border-left: 10px solid #566e8d !important;
background: #ece6da !important;
color: #566e8d !important;
}

.yellow a:hover {
color: #a1b182;
}

/* Petit tweak  pour faire disparaitre le menu 
sur les petits écrans et le remplacer par un bouton
qui permet d'afficher ou non le menu*/
input[type=checkbox] {
display: none;
}

input:checked ~ .sidebar {
display: none;
}

input:checked ~ .sidebar {
display: block;
}

@media screen and (min-width: 980px) {
label {
  display: none;
}

.sidebar {
  display: block !important;
}

}
@media screen and (max-width: 979px) {
.sidebar {
  width: 86%;
  max-width: 89%;
  top: 1em;
  left: 1em;
  padding: 1em;
  display: none;
}

iframe {
  max-width: 100%;
}

label {
  display: inline;
  z-index: 2;
  position: absolute;
  top: 0em;
  right: 0em;
  padding: 0.5em;
  background-color: #a1b182;
  color: #3d1c00;
  -moz-transition: left 0.5s ease;
  transition: left 0.5s ease;
  font-size: 1.2em;
}
.contenu {
  max-width: 100%;
}
.header .padding {
  display:inline-grid;
}

}
