{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: theme_config.default_lang }}">
<head>
{% block head %}
    <meta charset="utf-8" />
    <title>{% if header.title %}{{ header.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include 'partials/metadata.html.twig' %}

    <link rel="canonical" href="{{ page.url(true, true) }}" />

<link rel="apple-touch-icon" sizes="180x180" href="{{ url('theme://images/apple-touch-icon.png')  }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ url('theme://images/favicon-32x32.png')  }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ url('theme://images/favicon-16x16.png')  }}">
<link rel="manifest" href="{{ url('theme://images/site.webmanifest')  }}">
<link rel="mask-icon" href="{{ url('theme://images/safari-pinned-tab.svg" color="#a1b182')  }}">
<link rel="shortcut icon" href="{{ url('theme://images/favicon.ico')  }}">
<meta name="msapplication-TileColor" content="#a1b182">
<meta name="msapplication-config" content="{{ url('theme://images/browserconfig.xml')  }}">
<meta name="theme-color" content="#a1b182">


<meta property="og:image:height" content="319">
<meta property="og:image:width" content="609">
<meta property="og:title" content="{{ config.site.title }}">
{% for meta in page.metadata %}
{% if meta.name == 'description' %}
<meta property="og:description" content="{{ meta.content }}">
{% endif %}
{% endfor %}
<meta property="og:url" content="{{ base_url_absolute }}">
<meta property="og:image" content="{{ base_url_absolute }}/user/themes/massage-vert/images/og-image.jpg">



    {% block stylesheets %}
        {% do assets.addCss('https://unpkg.com/purecss@1.0.0/build/pure-min.css', 100) %}
        {% do assets.addCss('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css', 99) %}
        {% do assets.addCss('theme://css/custom.css', 98) %}
    {% endblock %}
    {{ assets.css() }}

    {% block javascripts %}
        {% do assets.addJs('jquery', 100) %}
    {% endblock %}
    {{ assets.js() }}

{% endblock head%}
</head>
<body id="top" class="{{ page.header.body_classes }}">

{% block header %}
    <div class="header">
        <div class="wrapper padding">
            <a href="{{ home_url }}" >
             <img class= "mylogo left" src="{{ url('theme://images/logo.png')  }}" alt="{{ site.name }}" />
           </a>
            <a class="logo left" href="{{ base_url == '' ? '/' : base_url }}">
                {{ config.site.title }}
            </a>
            {% block header_navigation %}
            <nav class="main-nav">
                {% include 'partials/navigation.html.twig' %}
            </nav>
            {% endblock %}
        </div>
    </div>
{% endblock %}

{% block body %}
    <section id="body">
        
        <div class="wrapper padding">
        <div class="contenu">
        {% block content %}{% endblock %}
        </div>
        </div>

        <!-- Bouton pour petits écrans-->
        <input id="slide-sidebar" type="checkbox" role="button" />
        <label for="slide-sidebar"><span> <i class="fa fa-bars"></i> </span></label>
        <!-- Sidebar affiche le contenu de la page menu -->
        <div class="sidebar">
            <p>{{ page.find('/menu').content }}</p>
        </div>

    </section>
{% endblock %}


{% block footer %}
    <div class="footer text-center">
        <div class="wrapper padding">
            <p><a href="{{ base_url == '' ? '/' : base_url }}">
                {{ config.site.title }}
            </a> fait avec <i class="fa fa-heart"></i> par <a href="http://lequellec.xyz">Jean Le Quellec</a>.</p>
        </div>
    </div>
{% endblock %}

{% block bottom %}
    {{ assets.js('bottom') }}
{% endblock %}

</body>
</html>
